server {
        listen 0.0.0.0:{{ nginx_port }} default_server;

        root {{ site_root }};
        server_name _;

        location / {
            autoindex on;
            try_files $uri $uri/ =404;
        }
}

